*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section-wrapper{
  margin: 2rem;
  background-color: #ffffff;

}

.hero-section{
    height: 40vh;
    margin: 0 8rem;
    /* border: 2px solid red; */
    padding: 1.8rem;  
}
.hero-section-title{
    font-size:3rem;
    margin-bottom: 1rem;
}
.hero-section-des{
    font-size: 1.2rem;
     padding-right: 50%; 
  
}

.main-section{
    display: flex;
    flex-direction: row;
    /* box-shadow: 2px 1px 2px green; */
}

@media (max-width: 450px){


    .section-wrapper{
        margin: 0;
    
       height: 40%;
    }
    .hero-section{
        height: max-content;
        text-align: center;
            margin: .2rem;
    }
    .hero-section-des{
        padding: .2rem;
    }
    .hero-section-title {
    font-size: 2rem;
    }
    .main-section{

    }

}
