*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.blog-wrapper{
    margin: 3.8rem;
    margin-top: .5rem;
    
}

.blog-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 2rem;

}

.blog-card{
    background-color: #ecf0f3;
     margin-right: 10%; 
    padding: .8rem;
    border-radius: 10px;
}
.date-container{
    background-color: #ffffff;
    width: fit-content;
    padding: 2px;
    border-radius: 5px;

}

.title-container{
    padding: .5rem 0;
}

.btn-container{
    margin:  1rem 0 ;
}

@media (max-width: 450px){
    .blog-wrapper{
        margin: 0;
    }
}