*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.sidebar-wrapper{
    width: 30%;
    margin-right:  8%;
}

.sidebar-container{
    background-color: #ecf0f3;
     margin-right: 10%; 
    padding: .8rem;
    border-radius: 10px;

}

.about{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media (max-width: 450px){
    .sidebar-wrapper{
        display: none;
    }

}